/* ############################## CSS VARIABLES ############################## */
:root {
  --primaryBlue: #0074ff;
  --lightBlue1: #ebf4ff;
  --lightBlue2: #dceefa;
  --primaryTransition: all 0.3s linear;
  --primaryBoxShadow: 5px 5px 5px var(--primaryBlue);
  --primaryBorder: 1px solid var(--primaryBlue);
}
/* ############################## UNIVERSAL STYLES ############################## */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primaryBlue);
}
img {
  width: 100%;
  display: block;
}
.section-page h3 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.section-page {
  width: 100%;
  padding: 100px;
  margin: 0 auto;
}
.section-heading {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
/* ############################## HEADER ############################## */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 2px solid var(--primaryBlue);
  box-shadow: 0 2px 2px var(--primaryBlue);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.logo h3 {
  font-size: 35px;
  font-weight: 700;
}
.topnav__item {
  display: inline-block;
  list-style-type: none;
  font-size: 3rem;
}
.topnav__items a {
  text-decoration: none;
  font-weight: 700;
  color: var(--primaryBlue);
  padding: 10px;
  margin: 20px 0 20px 20px;
  border-radius: 20px;
}
.topnav__items a:hover {
  color: #fff;
  background-color: var(--primaryBlue);
  transition: var(--primaryTransition);
}
/* HAMBURGER MENU*/
@media screen and (max-width: 1399px) {
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    padding: 10px;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--primaryBlue);
    transition: var(--primaryTransition);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 5px;
    background: inherit;
    z-index: 1;
  }
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  .menu-wrap .toggler:checked + .hamburger {
    background-color: var(--primaryBlue);
  }
  .menu-wrap .toggler:checked + .hamburger > div {
    background-color: #fff;
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.3s;
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.3s linear 0.4s;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .menu > div {
    width: 250vw;
    height: 250vw;
    background: rgba(0, 116, 255, 0.9);
    border-radius: 20px;
    transform: scale(0);
    transition: var(--primaryTransition);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .menu > div > div {
    max-width: 90vw;
    max-height: 100vh;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    font-size: 5rem;
    color: #fff;
    padding: 10px;
    margin: 10px;
  }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s linear;
  }
}

/* ############################## BANNER ############################## */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 116, 255, 0.4),
      rgba(0, 116, 255, 0.8),
      rgba(0, 116, 255, 0.4)
    ),
    url(/img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__heading {
  font-size: 10rem;
  font-weight: 900;
  color: #fff;
  margin: 0 20px;
  animation-name: heading-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__paragraph {
  font-size: 3rem;
  color: #fff;
  margin-top: 20px;
  animation-name: paragraph-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--primaryBlue);
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #fff;
  border: 5px solid var(--primaryBlue);
  border-radius: 1rem;
  transition: var(--primaryTransition);
  cursor: pointer;
  animation-name: btn-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn:hover {
  color: #fff;
  background-color: var(--primaryBlue);
  border: 5px solid #fff;
  transform: scale(1.1);
}
.banner__btn:active {
  transform: scale(1);
}
.banner__btn:focus {
  outline: none;
}
/* BANNER ANIMATIONS*/
@keyframes heading-animation {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes paragraph-animation {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-125px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(62, 5px);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btn-animation {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ############################## ABOUT ME ############################## */
.about-me {
  background-color: var(--lightBlue1);
}
.about-me__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.about-me__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.about-me__text--paragraph {
  font-size: 3rem;
  margin-bottom: 25px;
  text-align: justify;
}
.about-me__photo {
  position: relative;
  width: 500px;
  height: 500px;
  border: 10px solid var(--primaryBlue);
  border-radius: 20px;
}
.about-me__photo--profile {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100%;
  height: 100%;
  box-shadow: var(--primaryBoxShadow);
  border-radius: 20px;
}
/* ############################## MY PROJECTS ############################## */
.my-projects {
  background-color: var(--lightBlue2);
}
.my-projects__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.my-projects__photo {
  display: none;
  width: 400px;
  height: 300px;
  border: var(--primaryBorder);
}
/* ############################## KNOWLEDGE ############################## */
.knowledge {
  background-color: var(--lightBlue1);
}
.knowledge__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.knowledge__card {
  width: 200px;
  height: 400px;
  border: var(--primaryBorder);
  border-radius: 20px;
  overflow: hidden;
  transition: var(--primaryTransition);
}
.knowledge__card:hover {
  transform: scale(1.1);
  box-shadow: var(--primaryBoxShadow);
}
.knowledge__card--top {
  overflow: hidden;
}
.knowledge__card--bottom {
  background-color: var(--lightBlue2);
  height: 200px;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.knowledge__card--heading {
  font-size: 3rem;
  text-align: center;
}
.knowledge__card--logo {
  font-size: 7rem;
}
.fa-spinner {
  animation-name: icon-spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ############################## CERTIFICATES ############################## */
.certificates {
  background-color: var(--lightBlue2);
}
.cerificates__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.certificates__paragraphs {
  font-size: 3rem;
  text-align: justify;
  margin-bottom: 30px;
}
.cetificates__academy--udemy {
  font-weight: 700;
  color: #ec5252;
}
.cetificates__academy--freecodecamp {
  font-weight: 700;
  color: #0a0a23;
}
.cetificates__academy--sololearn {
  font-weight: 700;
  color: #ed7643;
}
.certificates__links {
  font-weight: 700;
  color: var(--primaryBlue);
}
.slider {
  max-width: 500px;
  margin: 0 auto;
  border: var(--primaryBorder);
  border-radius: 20px;
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation-name: slider;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  35% {
    left: -100%;
  }
  45% {
    left: -200%;
  }
  55% {
    left: -200%;
  }
  65% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  90% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
/* ############################## CONTACT ME ############################## */
.contact-me {
  background-color: var(--lightBlue1);
}
.social__items {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.social__item--link {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-decoration: none;
  background-color: var(--lightBlue2);
  border: 1px solid var(--primaryBlue);
  border-radius: 20px;
  transition: var(--primaryTransition);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.contact-me__info {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.fa-github {
  color: #4078c0;
}
.fa-stack-overflow {
  color: #ef8236;
}
.fa-facebook-square {
  color: #4267b2;
}
.fa-instagram-square {
  color: #3f729b;
}
.fa-twitter-square {
  color: #00acee;
}
.fa-linkedin {
  color: #0e76a8;
}
.social__item--link:hover {
  transform: scale(1.1);
  box-shadow: var(--primaryBoxShadow);
}
.social__item--link:active {
  transform: scale(1);
}
.social__item--link:focus {
  outline: none;
}
.social__item--icon {
  font-size: 7rem;
  padding-bottom: 20px;
}
.social__item--paragraph {
  font-size: 2rem;
  text-align: justify;
  color: var(--primaryBlue);
}
/* ############################## FOOTER ############################## */
.footer {
  background-color: var(--lightBlue2);
  padding-bottom: 18px;
}
.footer__nav--items {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.footer__nav--item {
  display: inline-block;
  font-size: 3rem;
  list-style-type: none;
}
.footer__nav--link {
  font-weight: 700;
  text-decoration: none;
  color: var(--primaryBlue);
  padding: 10px;
  background-color: transparent;
  transition: var(--primaryTransition);
  border-radius: 20px;
  transition: var(--primaryTransition);
}
.footer__nav--link:hover {
  color: #fff;
  background-color: var(--primaryBlue);
}
.copy-right {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 50px auto 0 auto;
}
/* ############################## MEDIA QUERIES ############################## */
/* ############################## MEDIA QUERIES FOR UNIVERSAL STYLES ############################## */
@media screen and (max-width: 820px) {
  .section-page {
    padding: 100px 25px 25px 25px;
  }
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 3rem;
  }
}
/* ############################## MEDIA QUERIES FOR HEADER SECTION ############################## */
@media screen and (min-width: 1400px) {
  .menu-wrap {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .topnav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-wrap .menu > div > div > ul > li {
    font-size: 3rem;
  }
}
@media screen and (max-height: 500px) {
  .menu-wrap .menu > div > div > ul > li {
    font-size: 2rem;
    padding: 5px;
    margin: 5px;
  }
}
@media screen and (max-width: 500px) {
  .logo__small {
    display: none;
  }
}
@media screen and (max-width: 382px) {
  .logo__smaller {
    display: none;
  }
}
/* ############################## MEDIA QUERIES FOR BANNER SECTION ############################## */
@media screen and (max-width: 1125px) {
  .banner__heading {
    font-size: 8rem;
  }
}
@media screen and (max-width: 1018px) {
  .banner__heading {
    font-size: 7rem;
  }
}
@media screen and (max-width: 911px) {
  .banner__heading {
    font-size: 6rem;
  }
}
@media screen and (max-width: 803px) {
  .banner__heading {
    font-size: 5rem;
  }
}
@media screen and (max-width: 696px) {
  .banner__heading {
    font-size: 4rem;
  }
}
@media screen and (max-width: 661px) {
  .banner__paragraph {
    font-size: 2rem;
  }
  .banner__btn {
    font-size: 2rem;
  }
  .banner__btn:active {
    transform: none;
  }
  .banner__btn:hover {
    color: var(--primaryBlue);
    background-color: #fff;
    border: 5px solid var(--primaryBlue);
    transform: none;
  }
  .banner__btn:active {
    transform: none;
  }
}
@media screen and (max-width: 588px) {
  .banner__heading--small {
    display: none;
  }
}
@media screen and (max-width: 445px) {
  .banner__heading {
    font-size: 3.5rem;
  }
}
@media screen and (max-height: 500px) {
  .banner__heading {
    font-size: 3rem;
    margin-top: 6rem;
  }
  .banner__paragraph {
    font-size: 2rem;
  }
  .banner__btn {
    font-size: 2rem;
  }
}

/* ############################## MEDIA QUERIES FOR ABOUT ME SECTION ############################## */
@media screen and (max-width: 820px) {
  .about-me__photo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .about-me__wrapper {
    display: block;
  }
  .about-me__photo--profile {
    position: static;
    box-shadow: none;
    width: 100%;
  }
  .about-me__photo {
    border: none;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  .about-me__text--paragraph {
    font-size: 2rem;
  }
}

/* ############################## MEDIA QUERIES FOR PROJECTS SECTION ############################## */
/* ############################## MEDIA QUERIES FOR KNOWLEDGE SECTION ############################## */
@media screen and (max-width: 670px) {
  .knowledge__card {
    width: 100px;
    height: 200px;
  }
  .knowledge__cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
  }
  .knowledge__card--bottom {
    height: 100px;
    padding: 10px 0 10px 0;
  }
  .knowledge__card--heading {
    font-size: 1.5rem;
  }
  .knowledge__card--logo {
    font-size: 3rem;
  }
  .knowledge__card:hover {
    transform: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 360px) {
  .knowledge__card {
    width: 80px;
    height: 160px;
  }
  .knowledge__cards {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 5px;
  }
  .knowledge__card--bottom {
    height: 80px;
    padding: 10px 0 10px 0;
  }
  .knowledge__card--heading {
    font-size: 1.2rem;
  }
  .knowledge__card--logo {
    font-size: 2rem;
  }
}

/* ############################## MEDIA QUERIES FOR CERTIFICATES SECTION ############################## */
@media screen and (max-width: 600px) {
  .certificates__paragraphs {
    font-size: 2rem;
  }
}
/* ############################## MEDIA QUERIES FOR CONTACT ME SECTION ############################## */
@media screen and (max-width: 1000px) {
  .social__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .contact-me__info {
    font-size: 2rem;
  }
  .social__item--link:hover {
    transform: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 505px) {
  .social__item--link {
    width: 100px;
    height: 100px;
  }
  .social__item--icon {
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .social__item--paragraph {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 488px) {
  .contact-me__info {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 327px) {
  .social__item--link {
    width: 90px;
    height: 90px;
  }
  .contact-me__info {
    font-size: 2rem;
  }
}
/* ############################## MEDIA QUERIES FOR FOOTER SECTION ############################## */
@media screen and (max-width: 1320px) {
  .footer__nav--items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 605px) {
  .footer__nav--items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 417px) {
  .footer__nav--item {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 364px) {
  .footer__nav--item {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
