/* #################### CSS VARIABLES #################### */
:root {
  --primaryBlue: #0074ff;
  --primaryGray: #bbbbbf;
  --lightBlue1: #ebf4ff;
  --lightBlue2: #dceefa;
  --primaryTransition: all 0.3s linear;
}
/* #################### UNIVERSAL STYLES #################### */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
.section-page {
  width: 100%;
  margin: 0 auto;
  padding: 7rem 7rem;
}
.section-heading {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  color: var(--primaryBlue);
}
/* #################### HEADER #################### */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0 2rem;
  background-color: #fff;
  border-bottom: 0.2rem solid var(--primaryBlue);
  box-shadow: 0 0.2rem 0.2rem var(--primaryBlue);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.logo h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primaryBlue);
}
.topnav__item {
  display: inline-block;
  list-style-type: none;
  font-size: 3rem;
}
.topnav__items a {
  text-decoration: none;
  font-weight: 700;
  color: var(--primaryBlue);
  margin: 2rem 0 2rem 2rem;
  padding: 1rem;
  border-radius: 2rem;
}
.topnav__items a:hover {
  color: #fff;
  background-color: var(--primaryBlue);
  transition: var(--primaryTransition);
}
/* HAMBURGER MENU*/
@media screen and (max-width: 1399px) {
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    padding: 1rem;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--primaryBlue);
    transition: var(--primaryTransition);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 5px;
    background: inherit;
    z-index: 1;
  }
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  .menu-wrap .toggler:checked + .hamburger {
    background-color: var(--primaryBlue);
  }
  .menu-wrap .toggler:checked + .hamburger > div {
    background-color: #fff;
    transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.3s;
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.3s linear 0.4s;
  }
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .menu > div {
    width: 250vw;
    height: 250vw;
    background: rgba(0, 116, 255, 0.9);
    border-radius: 50%;
    transform: scale(0);
    transition: var(--primaryTransition);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .menu-wrap .menu > div > div {
    max-width: 90vw;
    max-height: 100vh;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    font-size: 5rem;
    color: #fff;
    padding: 1rem;
    margin: 2rem;
  }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .menu-wrap .menu > div > div > h2 {
    font-size: 5rem;
    color: #fff;
  }
}
/* MEDIA QUERIES FOR HEADER SECTION */
@media screen and (min-width: 1400px) {
  .menu-wrap {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .topnav {
    display: none;
  }
}
/* #################### BANNER #################### */
.banner {
  width: 100%;
  height: 100vh;
  margin-top: 7rem;
  background-image: linear-gradient(
      rgba(0, 116, 255, 0.4),
      rgba(0, 116, 255, 0.8),
      rgba(0, 116, 255, 0.4)
    ),
    url(/img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner__heading {
  font-size: 10rem;
  font-weight: 900;
  color: #fff;
  animation-name: heading-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__paragraph {
  font-size: 3rem;
  color: #fff;
  margin-top: 5rem;
  animation-name: paragraph-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn {
  display: inline-block;
  color: var(--primaryBlue);
  font: inherit;
  padding: 1rem 3rem;
  margin-top: 5rem;
  background-color: #fff;
  border: 0.5rem solid var(--primaryBlue);
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  transition: var(--primaryTransition);
  cursor: pointer;
  animation-name: btn-animation;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.banner__btn:hover {
  color: #fff;
  background-color: var(--primaryBlue);
  border: 0.5rem solid #fff;
  transform: scale(1.1);
}
.banner__btn:active {
  transform: scale(1);
}
.banner__btn:focus {
  outline: none;
}
/* BANNER ANIMATIONS*/
@keyframes heading-animation {
  0% {
    opacity: 0;
    transform: translateY(-25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes paragraph-animation {
  0% {
    opacity: 0;
    transform: translateX(25rem);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-12.5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(6.25rem);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes btn-animation {
  0% {
    opacity: 0;
    transform: translateY(25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ########## ABOUT ME ########## */
.about-me {
  background-color: var(--lightBlue1);
}
/* ########## MY PROJECTS ########## */
.my-projects {
  background-color: var(--lightBlue2);
}
/* ########## KNOWLEDGE ########## */
.knowledge {
  background-color: var(--lightBlue1);
}
/* ########## CERTIFICATES ########## */
.certificates {
  background-color: var(--lightBlue2);
}
/* ########## CONTACT ME ########## */
.contact-me {
  background-color: var(--lightBlue1);
}
/* ########## FOOTER ########## */
.footer {
  background-color: var(--lightBlue2);
}
